@import "tailwindcss";
/* deshabilitamos el tema dark, pasa el control a nuestras clases */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  /* variables para paletas de colores */
  --color-primary: #f5f8ff;
  --color-primary-dark: #14161a;
}
