@import "tailwindcss";
/* deshabilitamos el tema dark */
/* @custom-variant dark (&:where(.dark, .dark *)); */
@theme {
  /* variables para paletas de colores */
  --color-primary: #f5f8ff;
  --color-primary-dark: #f25d31;
}
